header
nav.navbar 
    ul.menu 
        li#fruit Fruits 
        span#list
            li#first-li 
                a(href="http://") home 
            li#second-li 
                a(href="http://") fruits
            li#third-li 
                a(href="http://") salades
            li#fourth-li 
                a(href="http://") juices
            li#fith-li 
                a(href="add-product") admin