doctype html
html 
    head 
        title Add product
        link(rel="stylesheet", href="styles.css") 
    body 
        div#form
            h4 Add a new Product
            form
                input(type="file" placeholder="fruit-photo" id="photo")
                div
                    input(type="text" placeholder="product-name" id="name" required)
                div
                    input(type="text" placeholder="product-price"  id="price" required)
                div
                    button(type="submit" id="validate") validate